#new_trip_window {
    visibility: hidden;
}

#new_trip_window  h2 {
    margin: 0 0 20px;
}

#new_trip_window form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#new_trip_window .input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new_trip_window label {
    font-weight: bold;
}

#new_trip_window input {
    padding: 5px 10px;
}

#new_trip_window .row {
    display: flex;
    gap: 20px;
}

/* New trip button */
#new_trip_button {
    position: fixed;
    z-index: 5;
    bottom: 60px;
    right: 60px;
    box-shadow: 1px 1px 4px 2px #b3b3b3;
}